.linkButton {
  span {
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 1px;
      background-color: var(--text-color);
      transform: scaleX(0);
      transform-origin: right center;
      transition: transform .3s cubic-bezier(0.23, 1, 0.32, 1);
    }
  }
  svg {
    transition: transform .3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  &:hover {
    span {
      &::before {
        transform: scaleX(1);
        transform-origin: left center;
      }
    }
    &::before {
      transform: scaleX(1);
      transform-origin: left center;
    }
    svg {
      transform: translateX(8px);
    }
  }
}
