@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #fff;
  --background-color: #111;
  --font-family-didot: linotype-didot, serif;
  --font-family-roboto: "roboto", serif;
  --font-family-noto-jp: "Noto Sans JP", serif;
  --custom-text-shadow: 1px 1px 1px rgb(0,0,0,0.15);
}
.light {
  --text-color: #111;
  --background-color: #D9D9D9;
}
.dark {
  --text-color: #fff;
  --background-color: #111;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  font-family: linotype-didot, roboto, "Noto Sans JP", serif;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  cursor: none;
}

img {
  image-rendering: -webkit-optimize-contrast;
}
html[lang="ja"] .locale {
  font-family: 'Roboto', 'Noto Sans JP', 'sans-serif';
  font-size: 1rem;
}
html[lang="en"] .locale {
  font-family: linotype-didot, serif;
}
@layer utilities {
  .counter-reset {
    counter-reset: custom-counter;
  }
}
/* マウスストーカー */
#mouse-cursor,
#mouse-stalker {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 9999;
}
#mouse-cursor {
  width: 8px;
  height: 8px;
  background-color: #fff;
}
#mouse-stalker {
  top: -24px;
  left: -24px;
  width: 56px;
  height: 56px;
  border: 1px solid #fff;
  transition: transform 0.1s;
  transition-timing-function: ease-out;
}

#bg {
  opacity: .1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all .2s ease-in-out;
  z-index: -1;
}
.active img {
  position: fixed;
  visibility: visible;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}
.inactive {
  transition: opacity .2s ease-in-out;
  opacity: .4 !important;
}

/* ホバー：テキストリンク */
.text-link {
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform .3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  &:hover {
    &::before {
      transform: scaleX(1);
      transform-origin: left center;
    }
  }
}
.black {
  .text-link {
    &::before {
      background-color: #fff;
    }
  }
}
/* ホバー：アイコン */
.ico-link {
  transition: opacity .3s;
  &:hover {
    opacity: .6;
  }
}

/* メニューボタン */
.menubtn {
  transition: .5s cubic-bezier(0.23, 1, 0.32, 1);
  span {
    transition: inherit;
    transform-origin: center ;
  }
  &:hover {
    width: 42px;
    height: 42px;
  }
  &.close {
    &:hover {
      span {
        background-color: #999;
        &:nth-child(1) {
          opacity: 0;
        }
        &:nth-child(3) {
          opacity: 0;
        }
      }
    }
  }
  &.oepn {
    span {
      &:nth-child(1) {
        width: 20px;
        height: 2px;
        transform: translateX(14px) rotate(45deg) ;
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        width: 20px;
        height: 2px;
        transform: translateX(-14px) rotate(-45deg);
      }
    }
    &:hover {
      span {
        &:nth-child(1) {
          width: 16px;
          height: 2px;
          transform: translateX(12px) rotate(45deg) ;
        }
        &:nth-child(3) {
          width: 16px;
          height: 2px;
          transform: translateX(-12px) rotate(-45deg);
        }
      }
    }
  }
}
.dark {
  .menubtn {
    &:hover {
      span {
        background-color: #999;
      }
    }
  }
}
/* グローバルメニュー */
.global-navi {
  .menu-item {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 1.5px;
      height: 100%;
      background-color: var(--text-color);
      transform: scaleY(0);
      transition: transform .3s cubic-bezier(0.23, 1, 0.32, 1);
    }
    &:hover {
      &::after {
        transform: scaleY(1);
      }
    }
  }
}

.animation-initial-hidden {
  opacity: 0;
}

/* .custom-cursor {
  cursor: url('/images/ico_mouse_cursor.svg') 16 16, auto;
} */



/* 星空の背景のスタイル */
.stars {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%; /* 星空の横幅 */
  height: 100vh; /* 星空の縦幅 */
  overflow: hidden; /* 星が枠外にはみ出すのを防ぐ */
}
/* 星のスタイル */
.star {
  position: absolute;
  display: block;
  background-color: #fff; /* 星の色 */
  border-radius: 100%;
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.2); /* 星の影 */
  opacity: 1;
  animation: twinkle 8s infinite;
}
/* 星がキラキラ光るアニメーション */
@keyframes twinkle {
  0% {
    opacity: 0;
  }

  50% {
    transform: scale(1.3);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}
/* Particle */
.particles {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%; /* 星空の横幅 */
  height: 100vh; /* 星空の縦幅 */
  overflow: hidden; /* 星が枠外にはみ出すのを防ぐ */
}
/* トップページ */
.top-text-shadow {
  text-shadow: 1px 1px 10px rgba(0,0,0,0.15);
}
.top-visual {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(0,0,0,.6) 30%,rgba(255,255,255,.1));
  }
}
.light {
  .top-visual {
    display: none;
  }
  .top-text-shadow {
    text-shadow: none;
  }
}
