.backgroundStars {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%; /* 星空の横幅 */
  height: 100vh; /* 星空の縦幅 */
  overflow: hidden; /* 星が枠外にはみ出すのを防ぐ */
  /* 星のスタイル */
  .star {
    position: absolute;
    display: block;
    background-color: #fff3b8; /* 星の色 */
    border-radius: 100%;
    box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.2); /* 星の影 */
    opacity: 1;
    animation: twinkle 5.5s infinite;
  }
}
/* 星がキラキラ光るアニメーション */
@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
