.bg {
  opacity: .3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all .2s ease-in-out;
  z-index: -1;
  @media screen and (max-width:959px) {
    display: none;
  }
}
.animationInitialHidden {
  opacity: 0;
  will-change: transform, opacity;
}
